---
import LayoutPrincipal from '@/layouts/main.astro'
import MainHeader from '@/components/mainHeader/MainHeader.astro'
import AsideMain from '@/components/asideMain/AsideMain.astro'
import BodyCards from '@/components/mainBody/CardsMain.astro'
---

<LayoutPrincipal title='Vinos de la Villa, Wine Bar'>
	<MainHeader />
	<section class="grid grid-flow-col grid-cols-[20%,1fr] mx-2.5 gap-x-2 flex-grow">
		<AsideMain />
		<BodyCards />
	</section>
</LayoutPrincipal>