---
import LayoutPrincipal from '../layouts/main.astro'
import MainHeader from '../components/mainHeader/MainHeader.astro'
import AsideMain from '../components/asideMain/AsideMain.astro'
---
<LayoutPrincipal title='Astro + TailwindCSS + React'>
	<MainHeader />
	<section class="flex flex-row mx-2.5 gap-2">
		<AsideMain />
	</section>
</LayoutPrincipal>